.index {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
  .left {
    flex: 1;
  }
  .middle {
    flex: 3;
    .view {
      margin-top: 0vh;
      height: 80%;
      overflow: hidden;
      background-color: antiquewhite;
    }
  }
  .right {
    flex: 1;
  }
}
